# pnpm hardening
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
node-linker=isolated
verify-store-integrity=true
prefer-frozen-lockfile=true
fund=false
audit-level=moderate
package-manager-strict=true
